/*
 * OVERRIDE BULMA VARIABLES
 */


$family-sans-serif: 'proxima-nova', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$gap: 24px;
$widescreen: 1152px + (2 * $gap); 
$grey: hsl(0, 0%, 48%);
$grey-darker: hsl(0, 0%, 21%);
$primary: #000066;

/*
 * Derived Bulma vars
 */
$link: $grey;
$tabs-link-active-border-bottom-color: $primary;
$tabs-link-active-color:	$primary;
$fullhd: $widescreen;

/*
 * IMPORTS
 */
@import 'reset';
/*@import './../../node_modules/flexboxgrid-sass/flexboxgrid.scss';*/
@import './../../node_modules/bulma/bulma.sass';



html {
  font-size: 16px;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  height: 100%;
  font-family: 'proxima-nova', sans-serif;
  background-color: #fff;
  overflow-x: hidden;
  color: $blue;
  -webkit-font-smoothing: antialiased;
}

.wrap {
  box-sizing: border-box;
  /*margin: 0 auto;*/
  max-width: 71.25rem;
}
